/*
	Author: Alessandro Todisco;
	Name: CSS Main;
	Description: CSS for the main structure;
*/

html, body{height: 100%;}

body{
 	margin: 0;
 	min-width: 350px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #000;
	background: rgb(4, 42, 49);
}


hr{
	margin: 0 0 15px 0;
}

/* CSS for mobile or for Screen with a max-width of 800px */

@media only screen and (max-width:800px){
	a.current{
		color: red;
		width: 100%;
		background: rgba(255, 255, 255, 0.11);
		display: block;
		border-radius: 5px;
	}
	.cont_nav{
		padding-left: 20px;
		padding-right: 20px;
	}
}
 
input.black, textarea { /* Stili per il campo di testo e per la textarea */
    background: #1C1C1C; /* Colore di sfondo */
    border: 1px solid #323232; /* Bordo */
    color: #fff; /* Colore del testo */
    height: 34px; /* Altezza */
    line-height: 30px; /* Altezza di riga */
    width: 100%; /* Larghezza */
    padding:0 10px; /* Padding */
}

input.black, textarea.black { /* Stili per il campo di testo e per la textarea */
    background: #1C1C1C; 
    border: 1px solid #323232;
    color: #fff;
    height: 34px;
    line-height: 30px;
    width: 100%;
    padding:0 10px;
}

input.white, textarea.white { /* Stili per il campo di testo e per la textarea */
	background: #D5D5D5;
	border: 1px solid #BEBEBE;
	color: #575050;
	height: 30px;
	line-height: 30px;
	width: 80%;
	padding: 0 10px;
	margin-bottom: 5px;
}
input.white_r{ /* Stili per il campo di testo e per la textarea */
	background: #D5D5D5;
	border: 1px solid #BEBEBE;
	color: #575050;
	height: 30px;
	float: right;
	line-height: 30px;
	width: 100%;
	padding: 0 10px;
	margin: 5px 0 5px 0;
}

input.white_s{
	height: 30px;
	width: 15%;
	float: right;  
	background: #D5D5D5;
	border: 1px solid #BEBEBE;
}

input.white_sr{
	height: 30px;
	width: 15%;
	margin-top: 5px; 
	background: #D5D5D5;
	border: 1px solid #BEBEBE;
}

select{
	background-color: rgb(213, 213, 213);
	height: 30px;
	width: 80%;
	margin-bottom: 5px;
}

select.white_r{
	background-color: rgb(213, 213, 213);
	height: 30px;
	width: 100%;
	margin: 5px 0 5px 0;

}

textarea { /* Stili specifici per la teaxtarea */
    background: #1C1C1C; /* Sfondo con immagine */
    line-height: initial;
    font-size: 12px;
    height: 70px;
    width: 220px;
    overflow: hidden; /* disabilitare la scrollbar in IE */
}

h3{
	display:inline-block;
}

.hr_1{
	margin: 10px 0 10px 0;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

span{
	font-size: medium;
}